:root {

    /* -=-=-=-=- Main Colors -=-=-=-=- */
    --C1: #7579ff;
    --C2: #00d38f;
    --C3: #ffde5a;
    --C4: #ff4e33;
    --C5: #f64072; /* fa556b | f64072 */
    
    /* -=-=-=-=- Text Color -=-=-=-=- */
    --T1: #969696;
    --T2: #dadada;


    /* -=-=-=-=- Theme -=-=-=-=- */
    --light-bg: #f5f5f5;
    --light-font: #06070d;
    --dark-bg: #06070d;
    --dark-font: #e8e8e8;

    /* Dark Theme */
    --D1: #06070d;
    --D2: #151518;
    --D3: #161a1f;
    /* Text */
    --DT1: #e8e8e8;
    /* Dimming */
    --DD1: #00000015;
    --DD2: #00000025;
    --DD3: #00000045;
    --DD4: #00000075;
    --DD5: #00000077;
    --DD6: #00000090;

    /* Light Theme */
    --L1: #ffffff;
    /* Dimming */
    --LD1: #ffffff15;
    --LD2: #ffffff20;
    --LD3: #ffffff25;
    --LD4: #ffffff45;
    --LD5: #ffffff75;


    /* -=-=-=-=- OTHER -=-=-=-=- */
    --T: transparent;


    /* -=-=-=-=- Image -=-=-=-=- */
    --IMG1: url('https://bobiclaki.xyz/images/background/1.jpg');


    /* -=-=-=-=- Gradients -=-=-=-=- */
    --G1: linear-gradient(180deg, #281c40, #22394c);
    --G2: linear-gradient(180deg,#2d2c3300 0,#281c40 70%,#22394c);


    /* -=-=-=-=- Backgrounds -=-=-=-=- */
    /* # Nature */
    --nature-1: url("https://bobiclaki.xyz/images/nature/1.gif");
    --nature-2: url("https://bobiclaki.xyz/images/nature/2.gif");
    --nature-3: url("https://bobiclaki.xyz/images/nature/3.gif");

    /* # Star Wars */
    --sw-1: url("https://bobiclaki.xyz/images/sw/1.gif");

    /* # Neon */
    --neon-1: url("https://bobiclaki.xyz/images/neon/1.gif");
    --neon-2: url("https://bobiclaki.xyz/images/neon/2.gif");
    --neon-3: url("https://bobiclaki.xyz/images/neon/3.gif");
    --neon-4: url("https://bobiclaki.xyz/images/neon/4.gif");
    --neon-5: url("https://bobiclaki.xyz/images/neon/5.gif");

    /* # Steam */
    --steam-1: url("https://bobiclaki.xyz/images/steam/1.gif");
    --steam-2: url("https://bobiclaki.xyz/images/steam/2.gif");
    --steam-3: url("https://bobiclaki.xyz/images/steam/3.gif");
    --steam-4: url("https://bobiclaki.xyz/images/steam/4.gif");
    --steam-5: url("https://bobiclaki.xyz/images/steam/5.gif");
    --steam-6: url("https://bobiclaki.xyz/images/steam/6.gif");
    --steam-7: url("https://bobiclaki.xyz/images/steam/7.gif");
    --steam-8: url("https://bobiclaki.xyz/images/steam/8.gif");
    --steam-9: url("https://bobiclaki.xyz/images/steam/9.gif");
    --steam-10: url("https://bobiclaki.xyz/images/steam/10.gif");
    --steam-11: url("https://bobiclaki.xyz/images/steam/11.gif");
    --steam-12: url("https://bobiclaki.xyz/images/steam/12.gif");
    --steam-13: url("https://bobiclaki.xyz/images/steam/13.gif");
    --steam-14: url("https://bobiclaki.xyz/images/steam/14.gif");
    --steam-15: url("https://bobiclaki.xyz/images/steam/15.gif");
    --steam-16: url("https://bobiclaki.xyz/images/steam/16.gif");
    --steam-17: url("https://bobiclaki.xyz/images/steam/17.gif");

    /* # Other */
    --other-1: url("https://bobiclaki.xyz/images/other/1.gif");
    --other-2: url("https://bobiclaki.xyz/images/other/2.gif");
    --other-3: url("https://bobiclaki.xyz/images/other/3.gif");
    --other-4: url("https://bobiclaki.xyz/images/other/4.gif");
    --other-5: url("https://bobiclaki.xyz/images/other/5.gif");
    --other-6: url("https://bobiclaki.xyz/images/other/6.gif");
    --other-7: url("https://bobiclaki.xyz/images/other/7.gif");
    --other-8: url("https://bobiclaki.xyz/images/other/8.jpg");

}